<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :sat_score %><br />
    <%= f.number_field :sat_score %>
  </div>
  
  <input id ="user_activity" input type="text" name="activity">
  <input id ="user_activity" input type="text" name="activity">
  <input id ="user_activity" input type="text" name="activity">
  These are activity fields-- 1,2&3
<!--   see lecture1 video feb 12th, 35mins -->
<!--   the hash of this will be {:activity => whatever activites the user types in} -->
<!-- I could also make put all the user inputs into an array by adding an empty [] at the end of the name field -->


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
